* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "futura-pt", sans-serif;
  background-color: #eae8e4;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

main {
  margin: 10rem;
}

.season {
  /* Grundlæggende stilarter for årstiderne */
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid black;
}
.season:hover {
  cursor: pointer;
  background-color: #dfd8d1;
}

.kategorih1 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.linkstyle,
a:visited {
  color: black; /* eller den farve du foretrækker */
  text-decoration: none; /* fjerner understregningen */
}

.produkting {
  width: 100%;
}

.produktlisteoverskrift {
  font-weight: bold;
}

.produktlistebeskrivelse {
  color: #6a6969;
}

h1 {
  font-weight: lighter;
}

.produktlisteh1 {
  text-align: center;
}
